html,body{
    font-family: 'open sans',sans-serif;
}

.hero-unit{
    background: url('../img/hero-unit-background-desktop.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 50px 0;
    .hero-unit-subheading{
        color: #9ACFF6;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 2.4px;
        margin-bottom: 45px;
    }
}   
.btn{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.25);
    border: 0;
    padding: 15px 23px ;

    &.btn-primary{
        background: linear-gradient(105.63deg,#EA2626 -21.04%, #0029FF 147.44%);
    }
}
h1{
    font-size: 74px;
    font-weight: 700;
    letter-spacing: -3px;

}
.dark-content{
    color: white;

    h1,h2,p,h3,h4,h5,h6{
        color: white;

    }
}
h2{
    font-size: 36px;
    font-weight: 700;
    letter-spacing:-1.5px ;
}
p{
    line-height: 1.6;
    margin: 20px 0;
}
@media only screen and (max-width: 576px){
    .hero-unit{
        text-align: center;
        background: url(../img/hero-unit-background-mobile.jpg);
        background-size: cover;
        background-position: center;
        .hero-unit-heading{
            font-size: 40px;
        }
        .hero-unit-subheading{
            font-size: 14px;
        }
    }   
}
.content-section{
    padding: 80px 0;

    &.content-section-centered{
        text-align: center;

    }
    &.dark-content{
        background: #303848;

    }
    &.content-section-side-image{
        display: flex;
        flex-direction: row;
        padding: 0;
        .content-section-side-image-content{
            flex-grow: 1;
            padding: 50px 0;
        }
        .content-section-side-image-container{
            width: 250px;
            min-height: 500px;
            background-size: cover;
            background-position: center;

        }
    }
}
h1,h2,h3,h4,h5,h6{
    color: black;
}
.portfolio-cards{
    margin-top: 60px;
    .portfolio-card{
        background: white;
        box-shadow: 0px 4px 20px rgba(0,0,0,.15),0px 4px 4px rgba(0,0,0,.05);
        overflow: hidden;
        border-radius: 6px;
        margin-bottom: 30px;

        .portfolio-card-image{
            background-size: cover;
            background-position: center;
            height: 200px;
        }
        .portfolio-card-information{
            padding: 25px 5px;

            .portfolio-card-title{
                display: block;
                font-size: 20px;
                letter-spacing: -1px;
                margin-bottom: 5px;
                font-weight: 600;


            }
            .portfolio-card-credits{
                display: block;
                color: #A7A7A7;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;

            }
        }
    }
}
.img-circle{
    border-radius: 50%;
}
a{
    color: #9ACFF6;
    text-decoration: underline;

    &:hover, &:active, &:focus{
        color: darken(#9ACFF6, 15%);
    }
}
@media only screen and (max-width:576px){
    .content-section{
        &.content-section-side-image{
            flex-direction: column;
            .content-section-side-image-container{
                min-height: 80px;
                width: 100%;
            }
            .content-section-side-image-heading{
                text-align: center;

            }
        }
    }
}

.footer{
    background: #EEE1F2;
    color: rgba(0,0,0,.25);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 0;
}
.contact-form{
    margin-top: 30px;
    .contact-form-input{
        display: block;
        border: 0;
        border-radius: 4px;
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0,0,0,.1),0px 4px 20px rgba(0,0,0,.15);
        margin-bottom: 20px;
        padding: 18px 22px;
        font-size: 18px;
        &::placeholder{
            color: gray;
        }
    }
    textarea.contact-form-input{
        min-height: 160px;
    }
    .contact-form-checkbox-input{
        display: none;
        &:checked + .contact-form-checkbox-label:after{
            opacity: 1;
            transform: scale(1);

        }

    }
    .contact-form-checkbox-label{
        position: relative;
        color: #ADABAB;
        text-align: left;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
        padding-left: 50px;
        margin-bottom: 20px;
        margin-top: 5px;
        &:before{
            content: "";
            position: absolute;
            top: -2px;
            left: 0;
            width: 35px;
            height:35px;
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0,0,0,.1),0px 4px 20px rgba(0,0,0,.15);


        }
        &::after{
            position: absolute;
            left: 11px;
            top: 9px;
            content: "\f00c";
            color: #EA2626;
            //opacity: 0;
            transition: opacity .3s,transform.3s;
            transform: scale(.1);
            font-family: 'Font Awesome 5 free';
        }
    }
}
.bg-primary{
    background: linear-gradient(105.63deg, #EA2626 -21.04%, #0029FF 147.44%);
}
.skillsets{
    .skillset{
        margin-top: 20px;
        margin-bottom: 10px;
        .skillset-heading{
            text-transform: uppercase;
            color: #797979;
            letter-spacing: 1.6px;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }
}